/* Global Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.HomeBody {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #2A2A2A, #121212); /* Gradient background for more depth */
  color: #E0E0E0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Heading Styles */
.heading {
  font-size: 150%;
  font-weight: bold;
  color: #6200EE; /* Accent color */
  margin-bottom: 20px; /* Space between heading and content */
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute; /* Absolute positioning to keep it at the top */
  top: 90px; /* 40px from the top */
  left: 50%;
  transform: translateX(-50%); /* Horizontally center */
}

